body

{

    margin: 0px;
    padding: 0px;

    background-color: gray;

}

.thumbnail

{

    background-color: lightblue;
}



.thumb1
{

    background-color:greenyellow;
}