.left

{

    width:33%;
    height: 250px;
    background-color: red;
}

.right

{

    width:33%;
    height: 250px;
    background-color:green;

}

.left1

{

    width:33%;
    height: 250px;
    background-color:aquamarine;

}